.hotstar_ad_component_wrapper {
	position: absolute;
	font-family: inherit;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: end;
	z-index: 100;
	top: 0px;
	left: 0px;
	padding-bottom: 7.5rem;
	padding-left: 7rem;
	padding-right: 7rem;
}

.hotstar_ad_component_wrapper .or_text {
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	height: 10rem;
}

.hotstar_ad_component_wrapper .shop-button {
	background-color: #000000ad;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 8px;
	width: 6rem;
	gap: 4px;
	color: #fff;
	font-weight: 500;
	height: 6rem;
	border: 2px solid transparent ;
	transition: all 0.3s ease;
}

.hotstar_ad_component_wrapper .shop-button:hover {
	border: 2px solid #fff;
}

.hotstar_ad_component_wrapper .shop-button span {
	font-weight: 500;
	font-size: 0.6rem;
	font-family: inherit;
}

.hotstar_ad_component_wrapper .shop-button svg {
	width: 0.6rem;
	height: 0.6rem;
}

.hotstar_ad_component_wrapper .ad_item_card {
	background-color: #000000ad;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	width: 21vw;
	height: 6rem;
	align-items: normal;
	padding: 10px;
	cursor: pointer;
	margin-left: 1rem;
	font-family: inherit;
	transition: all 0.3s ease;
	border: 2px solid transparent;
}

.hotstar_ad_component_wrapper .ad_item_card:hover {
	border: 2px solid #fff;
}

.hotstar_ad_component_wrapper .ad_item_card img {
	width: 30%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content {
	width: 70%;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	font-family: inherit;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: auto;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .footer .delivery_time {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: inherit;
	gap: 4px;
	color: #fff;
	font-size: 0.6rem;
	margin-top: 0.4rem;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .footer .delivery_time p {
	font-size: 0.6rem;
	font-weight: 500;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .delivery_time svg {
	width: 0.6rem;
	height: 0.6rem;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .price {
	font-family: inherit;
	color: #fff;
	font-size: 0.6rem;
	font-weight: 500;
	font-family: inherit;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .price span {
	font-size: 0.6rem;
	font-weight: 500;
	font-family: inherit;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .price .previous_price {
	text-decoration: line-through;
	font-family: inherit;
	color: #ffffffb3;
	font-size: 0.6rem;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .price .discount {
	font-family: inherit;
	font-size: 0.6rem;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .title {
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	font-size: 0.8rem
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .description {
	font-family: inherit;
	color: #ffffffb3;
	font-size: 0.6rem;
	margin-top: 2px;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .price {
	font-family: inherit;
	color: #fff;
	font-size: 0.6rem;
	font-weight: 500;
	margin-top: 2px;
}

.hotstar_ad_component_wrapper .ad_item_card .ad_item_card_content .footer .brand {
	width: 4rem;
}

.hotstar_ad_component_wrapper .qr_container {
	background-color: #000000ad;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	height: 6rem;
	width: 6rem;
	padding: 0.5rem;
}

.hotstar_ad_component_wrapper .qr_container img {
	width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 8px;
}

/* .hotstar_ad_component_wrapper .qr_container p {
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 1rem;
	margin-top: 1rem;
} */

@media only screen and (max-width: 650px) {

	.hotstar_ad_component_wrapper {
		bottom: 20%;
	}

	@media(orientation:landscape) {
		.maxtap_main>p {
			font-size: calc(1vw + 0.2rem);
		}
	}

	@media (orientation: portrait) {

		.maxtap_main>p {
			font-size: calc(1vw + 0.3rem);
		}
	}
}